@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.accBtn {
    border-radius: 30px !important;
    width: 70%;
    border: none;
    cursor: pointer;
}

nav {
    font-family: 'Raleway', sans-serif;
    padding : 10px;
    text-align: center;

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        height: fill-available;
        text-align: left;

    }

    ul {
        margin: 0;
        text-align : right;
        list-style: none;
        height: fill-available;
        font-size: 20px;

        li {
            float: right;
            text-align: center;
            padding: 0 20px;

            a {
                color: red;
                text-decoration: none;

                &:hover {
                    color: orangered;
                }
            }
        }
    }
}

footer {
    bottom: 0;
    text-align: center;
    height: 60px;
    padding : 15px 0;
}

form {
    label {
        font-size: 20px;
        color: #ff4d00;
        cursor: pointer;

        &input {
            float: left;
            clear: both;
        }
    }

    input {
        margin:15px 0;
        padding:15px 10px;
        width:60%;
        outline:none;
        border:1px solid #bbb;
        border-radius:50px;
        display:inline-block;
        box-sizing:border-box;
        transition:0.2s ease all;

        &[type="text"], &[type="password"], &[type="email"] {
            background: rgba(10, 10, 10, 0.3);
            border: none;
            font-size: 17px;
            border-radius: 10px;

            &:focus {
                background: none;
            }
        }
    }

    .forgotpwd,
    .register {
        margin:10px;
        font-size: 17px;
        float: left;
        clear:left;
        width: 100%;
        color:cornflowerblue;
        text-decoration:none;
    }
}


