extends layout

block content
    div(class="fill-details")
        form(class="details-form" id="details-form" method="post")
            label(for="bday") Birthday : 
            input(type="date" name="bday" id="bday" required)
            fieldset
                label Gender :
                input(type="radio" name="gender" value="Male" id="male" required)
                label(for="male" class="inner") Male
                input(type="radio" name="gender" value="female" id="female")
                label(for="female" class="inner") Female
                input(type="radio" name="gender" value="other" id="other")
                label(for="other" class="inner") Other
            fieldset
                label Sexual Orientation :
                input(type="radio" name="orientation" value="straight" id="straight" required)
                label(for="straight" class="inner") Straight
                input(type="radio" name="orientation" value="gay" id="gay")
                label(for="gay" class="inner") Gay
                input(type="radio" name="orientation" value="other" id="other")
                label(for="other" class="inner") Other
            fieldset
                label Ethnicity :
                input(type="radio" name="race" value="black" id="black" required)
                label(for="black" class="inner") Black
                input(type="radio" name="race" value="white" id="white")
                label(for="white" class="inner") White
                input(type="radio" name="race" value="coloured" id="coloured")
                label(for="coloured" class="inner") Coloured
                input(type="radio" name="race" value="other" id="other")
                label(for="other" class="inner") Other
            label(for="occupation") Occupation :
            input(type="text" name="occupation" placeholder="Type your occupation" required)
            label(for="school") Education :
            input(type="text" name="school" placeholder="Which school did/do you attend?" required)
            label(for="bio") Bio :
            textarea(name="bio", cols="30", rows="10" placeholder="Enter your bio")
            label(for="tagline") Tagline :
            textarea(name="tagline", cols="30", rows="3" maxlength="100" placeholder="Enter your prifile's tagline. This will be displayed to other users when they are searching for matches. (100 characters max)" required)
            fieldset
                label Prefered Orientation :
                input(type="radio" name="preforientation" value="straight" id="straight" required)
                label(for="straight" class="inner") Straight
                input(type="radio" name="preforientation" value="gay" id="gay")
                label(for="gay" class="inner") Gay
                input(type="radio" name="preforientation" value="any" id="any")
                label(for="any" class="inner") Any
                input(type="radio" name="preforientation" value="other" id="other")
                label(for="other" class="inner") Other
            input(type="submit" value="Finish")
        