extends layout

block content
    div(class="home")
        div(class="expanded row grid-x")
            section(class="profiles grid-container grid-x")
                article(class="small-4")
                    p #{user.username}
                    input(type="file" id="image-upload" name="image" accept="image/*")