extends home-layout

block content
    section
        h3 Sign up right now!
        hr
        p Welcome to the #1 dating site. Signup now and start matching.

    section
        form(method="post" action="#")
            h3 Login
            label(for="username") Username
            input(type="text" id="username", name="username", placeholder="Type in your username" autocomplete="off" required)
            label(for="password") Password
            input(type="password" id="password" name="password" placeholder="Enter your password" autocomplete="off" required)
            a(class="forgotpwd" href="#") Forgot Password?
            a(class="register" href="#") New to Matcha? Register
            input(type="submit" name="submit" value="Login")
    div(id="myModal" class="signup-modal")
        div(class="content")
            span(class="close") &times;
            form(method="post" action="#")
                h3 Register
                //- label(for="username") Username
                input(type="text" id="username", name="username", placeholder="Username" autocomplete="off" required)
                //- label(for="firstname") Firstname
                input(type="text" id="firstname", name="firstname", placeholder="Firstname" autocomplete="off" required)
                //- label(for="lastname") Lastname
                input(type="text" id="lastname", name="lastname", placeholder="Lastname" autocomplete="off" required)
                //- label(for="email") Email
                input(type="email" id="email", name="email", placeholder="Email" autocomplete="off" required)
                //- label(for="password") Password
                input(type="password" id="password" name="password" placeholder="Enter your Password" autocomplete="off" required)
                a(class="login" href="#") Already have an account? Login
                input(type="submit" name="submit" value="Register")